.PokeMoveType {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0ff65;
    width: 100%;
}

.pokeMoveName {
    flex: 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.typeSpan {
    flex: 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.pokeMoveName:hover + .hiddenInfo {
    display: block;
}

.hiddenInfo{
    color: black;
    position: absolute;
    display:none;
    width: 500px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
}

.hiddenInfo * {
    color: black;
}

.grass {
    background-color: #68c32a;
}

.poison {
    background-color: #914594;
}

.water {
    background-color: #18558c;
}

.bug {
    background-color: #89960a;
}

.dark {
    background-color: #503729;
}

.dragon {
    background-color: #755fdf;
}

.electric {
    background-color: #f4b71e;
}

.fairy {
    background-color: #dc98dd;
}

.fighting {
    background-color: #602b1b;
}

.fire {
    background-color: #c42100;
}

.flying {
    background-color: #8590ed;
}

.ghost {
    background-color: #403e93;
}

.ground {
    background-color: #d0b25b;
}

.ice {
    background-color: #6fd2f0;
}

.normal {
    background-color: #c8c4bc;
}

.psychic {
    background-color: #d7396c;
}

.rock {
    background-color: #9d8937;
}

.steel {
    background-color: #8f8e9f;
}