.PokeInfos {
    margin: 0px 6px 0px;
    border-radius: 15px;
    flex: 2.5 0;
    background-color: #d30a40;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    padding:0
}

.PokeDescription {
    border-radius: 10px;
    flex: 0.5 0;
    width: 85%;
    background-color: rgba(240, 128, 128, 0.486);
    margin: 25px;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.PokeMovesDiv {
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: blue;
    width: 90%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-y: scroll;
    height: 700px;
}

.PokeMovesDiv p {
    color: white;
}

.moveDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #3a0d19;
    margin: 0px 3px;

}



@media (max-width: 767px) {
    .PokeInfos {
            margin: 6px 0px 6px;
            border-radius: 15px;
            flex: 1 0;
            width: 100%;
            
        }
}