.PokeInfos {
    margin: 0px 6px 0px;
    border-radius: 15px;
    flex: 2.5 0;
    background-color: #d30a40;
    height: 100%;
}

@media (max-width: 767px) {
    .PokeInfos {
            margin: 6px 0px 6px;
            border-radius: 15px;
            flex: 1 0;
            width: 100%;
        }
}