.MainSearch {
    height: 100%;
    width: auto;
    background-color: blueviolet;
    margin-bottom: 20px;
}

.MainContent {
    margin: 6px 0px 6px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 767px) {
    
        .MainContent {
            height: calc(100vh - 156px);
            width: calc(100vw - 22px);
            flex-flow: column;
            margin: 6px 6px 0px;
        }
}