.PokeID {
    margin: 6px;
    border-radius: 15px;
    flex: 1 0;
    background-color: #e3e3e3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.PokeIdImageName {
    flex: 1 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.PokeID p {
    margin: 20px 0px 20px;
    flex: 0.1 0;
}

.PokePhoto {
    margin: 0px 20px 0px;
    width: 175px;
    background-color: #5fc480;
    border-radius: 15px;
    border: solid black;
}

.TypeandStatsDiv {
    border-radius: 15px;
    background-color: #c5c5c5;
    width: clamp(11em, 75%, 24em);
    margin: 20px;
    flex: 2 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.TypeDiv {
    flex: 0.1 0;
    background-color: #5fc480;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.TypeDiv * {
    color: white;
}

.StatsDiv {
    flex: 2;
    background-color: aqua;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.StatsDiv p {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .PokeID {
            width: 100%;
            margin: 0px 12px 0px;
            border-radius: 15px;
            flex: 0.5 0;
            height: 100%;
            flex-flow: row;
        }

    .PokePhoto {
        height: 175px;
    }

    .PokeID p {
        margin: 10px 0px 10px;
    }

    .TypeandStatsDiv {
        min-width: 150px;
        height: 200px;
        margin: 0px;
        margin-right: 25px;
        flex-flow: row;
    }

    .TypeDiv {
        flex-flow: column;
        height: 100%;
        padding: 10px;
        flex: 0.8 0;
    }

    .StatsDiv {
        height: 100%;
        flex: 2.5 0;
    }

    .StatsDiv p {
        margin: 2px;
        width: 100%;
    }
}