.PokeID {
    margin: 6px;
    border-radius: 15px;
    flex: 1 0;
    background-color: #e3e3e3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
}

.PokeIdImageName {
    flex: 1 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.PokeID p {
    margin: 20px 0px 20px;
    flex: 0.1 0;
    text-transform: capitalize;
}

.pokemonName{
    text-transform: capitalize;
}

.PokePhoto {
    margin: 0px 20px 0px;
    width: 175px;
    background-color: #5fc480;
    border-radius: 15px;
    border: solid black;
}

.TypeandStatsDiv {
    border-radius: 15px;
    background-color: #c5c5c5;
    width: clamp(11em, 75%, 24em);
    margin: 20px;
    flex: 2 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.TypeDiv {
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Type {
    text-transform: capitalize;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex: 1 0;
}

.grass {
    background-color: #5fc480;
}

.poison {
    background-color: purple;
}

.water {
    background-color: blue;
}

.StatsDiv {
    flex: 2;
    background-color: aqua;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.StatsDiv p {
    display: flex;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@media (max-width: 767px) {
    .PokeID {
            width: 100%;
            margin: 0px 12px 0px;
            border-radius: 15px;
            flex: 0.5 0;
            height: 100%;
            flex-flow: row;
        }

    .PokePhoto {
        height: 175px;
    }

    .PokeID p {
        margin: 10px 0px 10px;
    }

    .TypeandStatsDiv {
        min-width: 150px;
        height: 200px;
        margin: 0px;
        margin-right: 25px;
        flex-flow: row;
    }

    .TypeDiv {
        flex-flow: column;
        height: 100%;
        flex: 0.8 0;
    }

    .Type {
        width: 100%;
}

    .StatsDiv {
        height: 100%;
        flex: 2.5 0;
    }

    .StatsDiv p {
        margin: 2px;
        width: 100%;
    }
}