.SearchBar {
    margin: 0;
    padding: 0;
    background-color: #313131;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.logoSpan {
    padding: 0;
    margin: 0;
    flex: 0.5 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pokedexLogo {
    margin: 0px 26px 0px;
    width: 80px;
    height: auto;
}

.pokedexText {
    display: none;
}

.SearchBarSpan {
    flex: 1.5 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.SearchBarSpan input {
    border:none;
    padding: 0.3rem;
    border-radius: 6px;
    margin: 0px 10px 0px;
    min-width: 300px;
    max-width: 600px;
    background-color: #e3e3e3;
}

.SearchBar button {
    text-decoration: none;
    font-family: 'DynaPuff', cursive;
    border: none;
    padding: 0.3rem;
    background-color: #08f1f6;
    border-radius: 7px;
    margin: 0px 10px 0px;
    
}

.SearchBar button:active {
    background-color: #05bbbe;;
}

.navS {
    flex: 1 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navList {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navList li {
    margin: 0px 15px 0px;
}

.navList li a {
    text-decoration: none;
    font-family: 'DynaPuff', cursive;
    color: #e3e3e3;
}

.dropDown {
    position: absolute;
    display: flex;
    flex-flow: column;
    background-color: white;
    font-size: 14px;
    text-transform: capitalize;
}

.PokeSuggestion {
    padding: 0.3em;
}

/* Responsividade Mobile */

@media (max-width: 767px) {
    .SearchBar {
            margin: 0;
            padding: 0;
            background-color: #313131;
            width: 100%;
            height: 150px;
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            overflow: hidden;
        }
    
        .logoSpan {
            margin: 0;
            padding: 0;
            flex: 1 0;
            
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    
        .pokedexLogo {
            flex: 1 0;
            margin: 5px;
            height: 70px;
            
        }
    
        .pokedexText {
            display: inline;
            margin: 5px;
            height: 70px;
            flex: 1 0;
            
        }
    
        .SearchBarSpan {
            flex: 1 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    
        .SearchBarSpan input {
            margin: 0px;
            min-width: 250px;
        }
    
        .SearchBar button {
            margin: 0px;
        }
    
        .navS {
            display: none;
        }
}